@media (max-width: 1439px) {
    .sidepanel {
        display: none;
    }
}


@media (max-width: 1200px) {  
        .container {
            max-width: 960px;
            padding: 45px 20px;
        }
        .about {
            &__wrapper {
                grid-template-columns: 400px 500px;
                column-gap: 30px;
                row-gap: 40px;
            }
            .skills__wrapper {
                grid-template-columns: repeat(2, 240px);
                grid-template-rows: repeat(2, 170px);;
                column-gap: 10px;
            }
        }
        .experience {
            &__wrapper {
                padding: 60px 0 0 60px;
                grid-template-columns: repeat(2, 380px);
                column-gap: 80px;
            }
        }
        .myskills {
            padding-top: 0;
            &__wrapper {
                padding: 0 50px;
            }
            &__items {
                grid-template-columns: repeat(3, 270px);
                justify-content: space-between;
            }
            &__progress {
                grid-template-columns: repeat(2, 350px);
                justify-content: space-between;
            }
        }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
        padding: 35px 0;
    }
    .about {
        &__wrapper {
            grid-template-columns: 300px 380px;
            column-gap: 30px;
        }
        .title_fz36 {
            font-size: 32px;
            margin-bottom: 0;
        }
        &__skills {
            .skills__wrapper {
                grid-template-columns: 380px;
                grid-template-rows: repeat(3, 115px);
                row-gap: 15px;
            }
        }
    }
    .experience {
        .title_fz36 {
            font-size: 32px;
            margin-bottom: 0;
        }
        &__wrapper {
            padding: 60px 0 0 10px;
            grid-template-columns: repeat(2, 340px);
            column-gap: 40px;
        }
    }
    .myskills {
        .title_fz36 {
            font-size: 32px;
            margin-bottom: 0;
        }
        &__wrapper {
            padding: 0 80px;
        }
        &__items {
            grid-template-columns: repeat(2, 270px);
        }
        &__progress {
            grid-template-columns: 350px;
            margin-top: 60px;
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
        margin: 0;
        padding: 0;
        .title_fz48 {
            font-size: 43px;
            line-height: 49px;
        }
    }
    .promo{
        padding-bottom: 20px;
    }
    .about {
        padding-top: 40px;
        &__wrapper {
            grid-template-columns: 1fr;
            grid-template-rows: 500px auto auto;
        }
        &__myphoto {
            grid-row: 1 / 2;
            grid-column: 1 / 2;
        }
        &__myinfo {
            grid-column: 1 / 2;
            grid-row: 2 / 3;        
        }
        &__skills {
            grid-column: 1 / 2;
            grid-row: 3 / 4;
        }
        .skills__wrapper {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 150px 150px;
        }
    }
    .experience {
        &__wrapper {
            padding: 20px 0 0 10px;
            grid-template-columns: 1fr;
        }
        &__column {
            margin-top: 30px;
        }
    }
    .myskills {
        padding-top: 60px;
        &__items {
            grid-template-columns: 270px;
            justify-content: center;
        }
        &__progress {
            justify-content: center;
        }
    }    
}

@media (max-width: 576px) {
    .container {
        max-width: 100%;
    }
    .promo {
        padding: 100px 10px 160px 10px;
        background: url('../../img/main_bg_mini.jpg') no-repeat 50%/cover;
        .humburger {
            right: 20px;
        }
        .title_fz18 {
            font-size: 16px;
            width: 230px;
            margin: 0 auto;
        }
        .title_fz48 {
            font-size: 31px;
            line-height: 40px;
            text-align: center;
        }
        .promo__btns {
            justify-content: space-between;
            margin: 30px 20px 0 20px;
        }
    }
    .menu {
        &__block {
            width: 270px;
            padding-left: 30px;
        }
    }    

    .about {
        padding: 20px 10px;
        .title_fz18 {
            margin: 0;
        }
        .title_fz36 {
            margin-top: 0;
            font-size: 28px;
        }
        .separator {
            margin: 0;
        }
        &__descr {
            p {
                margin-top: 10px;
            }
        }
        &__skills {
            margin-top: 10px;
            .skills__wrapper {
                grid-template-columns: 1fr;
                grid-template-rows: repeat(3, 115px);
                row-gap: 15px;
            }
        }
    }
    .experience {
        padding-top: 30px;
        .title_fz36 {
            margin-top: 0;
            font-size: 28px;
        }
        .separator {
            margin-top: 0;
        }
        &__wrapper {
            padding: 10px;
        }
        &__item-head {
            grid-template-columns: 35px 180px;
        }
        &__item-body {
            width: 100%;
            padding: 25px 0 0 32px;
        }
    }
    .myskills {
        padding-top: 30px;
        .title_fz36 {
            margin-top: 10px;
            font-size: 28px;
            line-height: 34px;
        }
        &__items {
            margin-top: 30px;
        }
        &__progress {
            grid-template-columns: 300px;
            &__item {
                width: 300px;
            }
            &__scale {
                width: 100%;
            }
        }
    }
}