.btn {
    background: linear-gradient($main-color, rgb(238, 238, 129));
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    text-align: center;
    line-height: 45px;
    color:rgba(83, 78, 78);
    box-shadow: 3px 3px 5px rgb(22, 22, 22);
}