.portfolio {
    padding-top: 100px;
    .title_fz36 {
        text-align: center;
        line-height: 60px;
        margin-top: 15px;
    }
    .title_fz16{
        text-align: center;
        width: 80px;
        margin: 0 auto;
    }
    .separator {
        margin: 20px auto 0 auto;
    }
    &__wrapper {
        margin-top: 60px;
        display: grid;
        grid-template: repeat(2, 280px) / repeat(4, 280px);
        grid-auto-rows: 280px;
        gap: 5px;
        img {
            width: 100%;
            height: 100%;
            &:hover {
                filter: grayscale(50%);
                transform: scale(1.05);
                transition: all 0.4s;
            }
        }
        .vertical {
            grid-row: 1 / 3;
            grid-column: 4 / 5;
        }
        .horisontal {
            grid-row: 2 / 3;
            grid-column: 2 / 4;
        }
    }
}