.myskills {
    min-height: 1024px;
    padding-top: 60px;
    padding-bottom: 60px;
    .title_fz36 {
        margin-top: 15px;
    }
    .title_fz18{
        width: 115px;
        margin: 0 auto;
    }
    .title_fz14 {
        margin-top: 10px;
        padding-top: 10px;
        text-align: center;
    }
    &__items{
       display: grid;
       grid-template-columns: repeat(4, 270px);
       grid-template-rows: repeat(2, 270px);
       grid-auto-rows: 270px;
       column-gap: 13px;
       row-gap: 13px; 
       margin-top: 60px;
    }
    &__item {
        padding: 25px 30px;
        border: 1px solid black;
        &__img {
            display: block;
            width: 85px;
            height: 85px;
            margin: 0 auto;
        }
        &__descr {
            font-weight: 500;
            font-size: 13px;
            line-height: 18px;
            margin-top: 15px;
        }
        &:hover {
            filter: grayscale(50%);
            transform: scale(1.05);
            transition: all 0.6s;
            background: linear-gradient(rgb(165, 201, 122), rgb(223, 203, 217));
        }
    }
    &__progress {
        display: grid;
        grid-template-columns: repeat(3, 350px);
        grid-template-rows: repeat(2, 70px);
        grid-auto-rows: minmax(70px, auto);
        column-gap: 45px;
        row-gap: 30px;
        margin-top: 120px;
        &__header {
            display: flex;
            justify-content: space-between;
            padding-bottom: 23px;
        }
        &__interest {
            margin-top: 8px;
        }
        &__scale {
            width: 350px;
            height: 14px;
            background-color: #fff;
            border-radius: 4px;
        }
        &__level {
            height: 100%;
            background-color: $main-color;
            border-radius: 4px;
        }
    }
    &__progress__item {
        width: 350px;
        height: 70px;
    }
}