.title {
    font-weight: bold;
    font-size: 36px;
    line-height: 60px;
    text-shadow: 3px 3px 5px black;
    &_fz14 {
        font-size: 14px;
        line-height: 5px;
    }
    &_fz16 {
        font-size: 18px;
        line-height: 24px;
        text-shadow: 1px 1px 3px black;
    }
    &_fz20 {
        font-size: 20px;
        line-height: 30px;
    }
    &_fz48 {
        font-size: 48px;
    }
}