.title {
    font-weight: 700;
    &_fz36 {
        font-weight: 700;
        font-size: 36px;
        line-height: 60px;
        text-align: center;
    }
    &_fz14 {
        font-size: 14px;
        line-height: 5px;
    }
    &_fz18 {
        font-size: 18px;
        line-height: 24px;
        text-shadow: 1px 1px 3px black;
    }
    &_fz20 {
        font-size: 20px;
        line-height: 30px;
    }
    &_fz48 {
        margin-top: 15px;
        text-shadow: 3px 3px 5px black;
        font-size: 48px;
        line-height: 60px;
    }
}
.section__subtitle {
    position: relative;
    @include before_circle;
    padding-left: 20px;
    z-index: 2;
}
.policy {
    padding: 50px;
    h1 {
        text-align: center;
        font-size: 36px;
    }
    h2 {
        text-align: center;
        margin-top: 10px;
    }
}